<app-table-base
[itemHeaders]="itemHeaders"
[items]="items"
[filteredItems]="filteredItems"
[paginatedItems]="paginatedItems"
[header]="header"
[mainRowsTemplate]="mainRowsTemplate"
(filterAction)="onFilteredItems($event)">

  <div header-content>
    <button class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="addModalId">
      Ekle
    </button>
  </div>

  <th extra-header-content>Eklenme Tarihi</th>
  <th extra-header-content></th>

  <ng-template #extraRowsTemplate let-item>
    <td>{{ item.createdDateTime | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
    <td style="text-align: center;">
      <button class="btn btn-warning" data-bs-toggle="modal" [attr.data-bs-target]="updateModalId" (click)="onEdit(item)">
        Düzenle
      </button>
      <button class="btn btn-danger ms-2" (click)="onDelete(item)">
        Sil
      </button>
    </td>
  </ng-template>

</app-table-base>
