<app-table-base
[itemHeaders]="itemHeaders"
[items]="items"
[header]="header"
[mainRowsTemplate]="mainRowsTemplate">

  <button header-content class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
    <i class="bi bi-plus-lg"></i>
  </button>

  <th extra-header-content></th>

  <ng-template #extraRowsTemplate let-item>
    <td style="text-align: center;">
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="onEdit(item)">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-danger ms-2" (click)="onDelete(item)">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </ng-template>

</app-table-base>
