<app-table
[itemHeaders]="itemHeaders"
[header]="'Para Birimleri'"
[items]="currencies"
(editAction)="copyUpdateCurrency($event)"
(deleteAction)="removeById($event)">
<ng-template #mainRowsTemplate let-item>
  <td>{{ item.name}}</td>
  <td>{{ item.symbol}}</td>
  <td>{{ item.valueUsd | customNumber}}</td>
  <td>{{ item.valueTry | customNumber}}</td>
</ng-template>
</app-table>


<app-modal
[header]="'Para Birimi Ekle'"
[modalType]="'addModal'">
  <form #addModalForm="ngForm" autocomplete="off" (ngSubmit)="add(addModalForm)">
    <div class="modal-body">
      <div class="form-group custom-form-group">
        <label for="name" class="form-label" style="font-weight: bold;">İsim</label>
        <input type="text" class="form-control" name="name" id="name" #name ngModel [appValidation] required [minlength]="3">
      </div>
      <div class="form-group custom-form-group">
        <label for="symbol" class="form-label" style="font-weight: bold;">Sembol</label>
        <input type="text" class="form-control" name="symbol" id="symbol" #symbol ngModel [appValidation] required>
      </div>
      <div class="form-group custom-form-group">
        <label for="valueUsd" class="form-label custom-form-label">USD Değeri</label>
        <input type="number" class="form-control" name="valueUsd" id="valueUsd" #valueUsd ngModel [appValidation] required>
      </div>
      <div class="form-group custom-form-group">
        <label for="valueTry" class="form-label custom-form-label">TRY Değeri</label>
        <input type="number" class="form-control" name="valueTry" id="valueTry" #valueTry ngModel [appValidation] required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="addModalForm.reset()">Vazgeç</button>
      <button type="submit" class="btn btn-outline-primary" [disabled]="addModalForm.invalid">Onayla</button>
    </div>
  </form>
</app-modal>


<app-modal
[header]="'Para Birimi Güncelle'"
[modalType]="'updateModal'">
  <form #updateModalForm="ngForm" autocomplete="off" (ngSubmit)="update(updateModalForm)">
    <div class="modal-body">
      <div class="form-group custom-form-group">
        <label for="name" class="form-label custom-form-label">İsim</label>
        <input type="text" class="form-control" [(ngModel)]="updateCurrency.name" name="updateName" id="updateName" #updateName [appValidation] required [minlength]="3">
      </div>
      <div class="form-group custom-form-group">
        <label for="symbol" class="form-label custom-form-label">Sembol</label>
        <input type="text" class="form-control" [(ngModel)]="updateCurrency.symbol" name="updateSymbol" id="updateSymbol" #updateSymbol [appValidation] required>
      </div>
      <div class="form-group custom-form-group">
        <label for="valueUsd" class="form-label custom-form-label">USD Değeri</label>
        <input type="number" class="form-control" name="valueUsd" id="valueUsd" #valueUsd [(ngModel)]="updateCurrency.valueUsd" [appValidation] required>
      </div>
      <div class="form-group custom-form-group">
        <label for="valueTry" class="form-label custom-form-label">TRY Değeri</label>
        <input type="number" class="form-control" name="valueTry" id="valueTry" #valueTry [(ngModel)]="updateCurrency.valueTry" [appValidation] required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="updateModalForm.reset()">Vazgeç</button>
      <button type="submit" class="btn btn-outline-primary" [disabled]="updateModalForm.invalid">Onayla</button>
    </div>
  </form>
</app-modal>
