<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-2">
        <h5 class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
          Bakiye {{selectedCurrency == '₺'? '₺' : '$'}}
          <div class="form-check form-switch" style="float:right;">
            <input class="form-check-input" type="checkbox" id="exampleSwitch" (change)="handleSwitchChange()" style="cursor: pointer;">
            <label class="form-check-label" for="exampleSwitch">{{selectedCurrency}}</label>
          </div>
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedYearPortfolio" (change)="getChartData()">
              <option *ngFor="let year of years" [value]="year.id">{{ year.name }}</option>
            </select>
          </div>
        </h5>
        <div class="card-body">
          <ngx-charts-line-chart *ngIf="chartData.length > 0"
            [view]="[1300, 600]"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="true"
            [animations]="false"
            [results]="chartData">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-2">
        <h5 class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
          Kar/Zarar {{selectedCurrency == '₺'? '₺' : '$'}}
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedCategory" (change)="getCategoryChartData()" style="float: right;">
              <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedYearCategory" (change)="getCategoryChartData()">
              <option *ngFor="let year of years" [value]="year.id">{{ year.name }}</option>
            </select>
          </div>
        </h5>
        <div class="card-body">
          <ngx-charts-line-chart *ngIf="categoryChartData.length > 0"
            [view]="[1300, 600]"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="true"
            [animations]="false"
            [results]="categoryChartData">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-2">
        <h5 class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
          Kar/Zarar {{selectedCurrency == '₺'? '₺' : '$'}}
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedCategoryAsset" (change)="getAssets(); getAssetChartData()">
              <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedAsset" (change)="getAssetChartData()" style="float: right;">
              <option *ngFor="let asset of assets" [value]="asset._id">{{ asset.name }}</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-select" [(ngModel)]="selectedYearAsset" (change)="getAssetChartData()">
              <option *ngFor="let year of years" [value]="year.id">{{ year.name }}</option>
            </select>
          </div>
        </h5>
        <div class="card-body">
          <ngx-charts-line-chart *ngIf="assetChartData.length > 0"
            [view]="[1300, 600]"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="true"
            [animations]="false"
            [results]="assetChartData">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>

