<div class="container text-center">
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="badge text-bg-primary text-wrap">
        Toplam Sayı: {{totalItems}}
      </div>
    </div>
    <div class="col-4">
      <nav aria-label="Sayfalama">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Önceki">
              &laquo;
            </button>
          </li>
    
          <li class="page-item" *ngIf="currentPage > Math.ceil(pagesToShow / 2)">
            <button class="page-link" (click)="goToPage(1)">
              1
            </button>
          </li>
          <li class="page-item" *ngIf="currentPage > Math.ceil(pagesToShow / 2) + 1">
            <span class="page-link">...</span>
          </li>
    
          <li class="page-item" *ngFor="let page of displayedPages" [class.active]="page === currentPage">
            <button class="page-link" (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
    
          <li class="page-item" *ngIf="currentPage < totalPages - Math.ceil(pagesToShow / 2)">
            <span class="page-link">...</span>
          </li>
          <li class="page-item" *ngIf="currentPage < totalPages - Math.ceil(pagesToShow / 2) + 1 && currentPage != 1">
            <button class="page-link" (click)="goToPage(totalPages)">
              {{totalPages}}
            </button>
          </li>
    
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Sonraki">
              &raquo;
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-4">
      <select name="itemsPerPage" id="itemsPerPage" class="form-select text-center" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" style="width: auto;">
        <option *ngFor="let option of [2, 5, 10, 20, 30, 50, 100]" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</div>