<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column align-items-center min-vh-100" style="background-color: lightsteelblue;">
      <div class="dropend d-inline-block custom-dropend">
        <button class="btn custom-sidebar-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-wallet2"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/wallet">Cüzdan</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/walletHistory">Cüzdan Geçmişi</a>
          </li>
        </ul>
      </div>
      <div class="dropend d-inline-block custom-dropend">
        <button class="btn custom-sidebar-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-arrow-down-up"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/trade">İşlemler</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/dividend">Temettüler</a>
          </li>
        </ul>
      </div>
      <div class="dropend d-inline-block custom-dropend" *appIfAdmin>
        <button class="btn custom-sidebar-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-currency-exchange"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/category">Kategoriler</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/currency">Para Birimleri</a>
          </li>
        </ul>
      </div>
      <div class="dropend d-inline-block custom-dropend" *appIfAdmin>
        <button class="btn custom-sidebar-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-bank"></i>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let category of categories">
            <a class="dropdown-item" [routerLink]="['/asset', category._id]">{{category.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
