<app-wallet-chart
[summaryHeader]="(categoryId === 'all' ? 'Cüzdan': category.name) + ' Özet'"
[totalMarginTry]="totalMarginTry"
[totalMarginUsd]="totalMarginUsd"
[totalBalanceTry]="totalBalanceTry"
[totalBalanceUsd]="totalBalanceUsd"
[balanceTry]="balanceTry"
[balanceUsd]="balanceUsd"
[marginTryPerc]="marginTryPerc"
[marginUsdPerc]="marginUsdPerc"
[marginTry]="marginTry"
[marginUsd]="marginUsd"
(currencySwitchFunc)="currencySwitchFunc($event)">
</app-wallet-chart>

<app-table-chart
[itemHeaders]="[
{ header: 'Varlık Kodu', key: 'category.name'},
{ header: 'Mevcut Bakiye', key: selectedCurrency === '₺' ? 'categoryCurrentValueTry' : 'categoryCurrentValueUsd'  },
{ header: 'Kar/Zarar', key: selectedCurrency === '₺' ? 'marginTry' : 'marginUsd'},
{ header: 'Kar/Zarar Yüzdesi', key: selectedCurrency === '₺' ? 'marginTryPerc' : 'marginUsdPerc'},
{ header: 'Kategori Adı', key: 'asset.category.name'}
]"
[items]="walletAssets"
[header]="categoryId === 'all' ? 'Tüm Varlıklar' : category.name"
>
<ng-template #mainRowsTemplate let-item>
    <td>{{item.asset.code}}</td>
    <td>{{(selectedCurrency === '₺' ? item.currentValueTry : item.currentValueUsd) | customNumber | currency2: selectedCurrency}}</td>
    <td>{{(selectedCurrency === '₺' ? item.marginTry : item.marginUsd) | customNumber | currency2: selectedCurrency}}</td>
    <td>{{(selectedCurrency === '₺' ? item.marginTryPerc : item.marginUsdPerc) | customNumber}} %</td>
    <td>{{item.asset.category.name}}</td>
</ng-template>
</app-table-chart>