<app-wallet-chart
[summaryHeader]="(categoryId === 'all' ? 'Tüm Varlıklar' : category.name) + ' Özet'"
[items]="walletAssets"
(currencySwitchFunc)="currencySwitchFunc($event)">
</app-wallet-chart>

<app-table-chart
[itemHeaders]="itemHeaders"
[items]="walletAssets"
[header]="categoryId === 'all' ? 'Tüm Varlıklar' : category.name"
>
<ng-template #mainRowsTemplate let-item>
    <td>{{item.item.code}}</td>
    <td>{{(selectedCurrency === '₺' ? item.currentValueTry : item.currentValueUsd) | customNumber | currency2: selectedCurrency}}</td>
    <td>{{(selectedCurrency === '₺' ? item.marginTry : item.marginUsd) | customNumber | currency2: selectedCurrency}}</td>
    <td>{{(selectedCurrency === '₺' ? item.marginTryPerc : item.marginUsdPerc) | customNumber}} %</td>
    <td>{{item.item.category.name}}</td>
</ng-template>
</app-table-chart>