<app-table
[itemHeaders]="itemHeaders"
[header]="'Kategoriler'"
[items]="categories"
(editAction)="copyUpdateCategory($event)"
(deleteAction)="removeById($event)">
<ng-template #mainRowsTemplate let-item>
  <td>{{item.name}}</td>
  <td>{{item.currency?.name}}</td>
</ng-template>
</app-table>


<app-modal
[header]="'Kategori Ekle'"
[modalType]="'addModal'">
  <form #addModalForm="ngForm" autocomplete="off" (ngSubmit)="add(addModalForm)">
    <div class="modal-body">
      <div class="form-group custom-form-group">
        <label for="name" class="form-label custom-form-label">İsim</label>
        <input type="text" class="form-control" ngModel id="name" name="name" #name [appValidation] required [minlength]="3">
      </div>
      <div class="form-group custom-form-group">
        <label for="currency" class="form-label custom-form-label">Ana Para Birimi</label>
        <select class="form-select" ngModel id="currency" name="currency" #currency [appValidation] required>
          <option ngValue disabled selected>Para birimi seçiniz...</option>
          <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency.name}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="addModalForm.reset()">Vazgeç</button>
      <button type="submit" class="btn btn-outline-primary" [disabled]="addModalForm.invalid">Onayla</button>
    </div>
  </form>
</app-modal>


<app-modal
[header]="'Kategori Güncelle'"
[modalType]="'updateModal'">
  <form #updateModalForm="ngForm" autocomplete="off" (ngSubmit)="update(updateModalForm)">
    <div class="modal-body">
      <div class="form-group custom-form-group">
        <label for="name" class="form-label custom-form-label">İsim</label>
        <input [(ngModel)]="updateCategory.name" type="text" class="form-control mt-2" id="name" name="name" #name [appValidation] required [minlength]="3">
      </div>
      <div class="form-group custom-form-group">
        <label for="currency" class="form-label custom-form-label">Ana Para Birimi</label>
        <select [ngModel]="updateCategory.currency?._id" class="form-select" id="currency" name="currency" #currency [appValidation] required>
          <option ngValue disabled selected>Para birimi seçiniz...</option>
          <option *ngFor="let currency of currencies" [ngValue]="currency._id">{{currency.name}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="updateModalForm.reset()">Vazgeç</button>
      <button type="submit" class="btn btn-outline-primary" [disabled]="updateModalForm.invalid">Onayla</button>
    </div>
  </form>  
</app-modal>