<app-wallet-chart
[summaryHeader]="'Cüzdan Özet'"
[items]="walletCategories"
(selectFunc)="onSelect($event)"
(currencySwitchFunc)="currencySwitch($event)">
<a all-items-content style="float: right;" [routerLink]="['/wallet-category', 'all']">Tüm Liste</a>
</app-wallet-chart>

<app-table-chart
[itemHeaders]="[
{ header: 'Kategori Adı', key: 'item.name'},
{ header: 'Mevcut Bakiye', key: selectedCurrency === '₺' ? 'currentValueTry' : 'currentValueUsd'},
{ header: 'Kar/Zarar', key: selectedCurrency === '₺' ? 'marginTry' : 'marginUsd'},
{ header: 'Kar/Zarar Yüzdesi', key: selectedCurrency === '₺' ? 'marginTryPerc' : 'marginUsdPerc'}
]"
[items]="walletCategories"
[header]="'Cüzdan'"
>
<ng-template #mainRowsTemplate let-item>
  <td>{{item.item.name}}</td>
  <td>{{(selectedCurrency === '₺' ? item.currentValueTry : item.currentValueUsd) | customNumber | currency2: selectedCurrency}}</td>
  <td>{{(selectedCurrency === '₺' ? item.marginTry : item.marginUsd) | customNumber | currency2: selectedCurrency}}</td>
  <td>{{(selectedCurrency === '₺' ? item.marginTryPerc : item.marginUsdPerc) | customNumber}} %</td>
</ng-template>
</app-table-chart>

