<app-wallet-chart
[summaryHeader]="'Cüzdan Özet'"
[totalMarginTry]="totalMarginTry"
[totalMarginUsd]="totalMarginUsd"
[totalBalanceTry]="totalBalanceTry"
[totalBalanceUsd]="totalBalanceUsd"
[balanceTry]="categoryBalanceTry"
[balanceUsd]="categoryBalanceUsd"
[marginTryPerc]="categoryMarginTryPerc"
[marginUsdPerc]="categoryMarginUsdPerc"
[marginTry]="categoryMarginTry"
[marginUsd]="categoryMarginUsd"
(selectFunc)="onSelect($event)"
(currencySwitchFunc)="currencySwitchFunc($event)">
</app-wallet-chart>

<app-table-chart
[itemHeaders]="[
{ header: 'Kategori Adı', key: 'category.name'},
{ header: 'Mevcut Bakiye', key: selectedCurrency === '₺' ? 'categoryCurrentValueTry' : 'categoryCurrentValueUsd'  },
{ header: 'Kar/Zarar', key: selectedCurrency === '₺' ? 'marginTry' : 'marginUsd'},
{ header: 'Kar/Zarar Yüzdesi', key: selectedCurrency === '₺' ? 'marginTryPerc' : 'marginUsdPerc'}
]"
[items]="walletCategories"
[filteredItems]="filteredWalletCategories"
[paginatedItems]="paginatedWalletCategories"
[header]="'Cüzdan'"
(filterAction)="onFilteredItems($event)"
>
<ng-template #mainRowsTemplate let-item>
  <td>{{item.category.name}}</td>
  <td>{{(selectedCurrency === '₺' ? item.categoryCurrentValueTry : item.categoryCurrentValueUsd) | customNumber | currency2: selectedCurrency}}</td>
  <td>{{(selectedCurrency === '₺' ? item.marginTry : item.marginUsd) | customNumber | currency2: selectedCurrency}}</td>
  <td>{{(selectedCurrency === '₺' ? item.marginTryPerc : item.marginUsdPerc) | customNumber}} %</td>
</ng-template>
</app-table-chart>

<app-pagination
[totalItems]="filteredWalletCategories.length"
[currentPage]="currentPage"
(pageChanged)="onPageChanged($event)">
</app-pagination>

